tbody {
    display: block;
    overflow: auto;
    height: 150px;
    border-collapse: collapse;
}

th {
    height: 40px;
}

th input[type="text"]{
    border-radius: 3px;
}

td {
    height: 30px;
    width: 120px;
    margin: 0px;
    padding: 5px;
    border: 1px solid black;
}